Welcome to the [Seattle Reddit Community](https://www.reddit.com/r/SeattleWA) Daily Lounge! This is our open chat for anything you want to talk about, and it doesn't have to be Seattle related! 

---

**Things to do today:**

* [Event calendar hosted by MoPOP.](https://www.mopop.org/exhibitions-plus-events/events/)
* [Event calendar hosted by Event12.](https://www.events12.com/seattle/)
* [Event calendar hosted by Seattle Met.](https://www.seattlemet.com/events/)
* [Event calendar hosted by The Stranger.](https://www.thestranger.com/events/)
* [Event calendar hosted by the City of Seattle.](https://www.seattle.gov/event-calendar)
* [Event calendar hosted by Parent Map (for families & kids).](https://www.parentmap.com/calendar)
* [Event calendar hosted by Red Tricycle (for families & kids).](http://redtri.com/events/seattle/)
* Event calendar hosted by Live Music Project: [this month](http://livemusicproject.org/calendar/) & [this month calendar view](http://livemusicproject.org/calendar/month/)

---

2-Day Weather forecast for the /r/SeattleWA metro area from the NWS:

{{ forecast }}

^^Weather ^^emojis ^^wrong? [^^Open ^^an ^^issue ^^on ^^GitHub!](https://github.com/r-seattle-wa/SeattleRedditBot/issues/new)

---

{% if day_of_week == 4 %}
Fri-ku-day:
{% else %}
Quote of the Day:
{% endif %}

{{ qotd }}

---

**Come chat!** Join us on the chat server. [Click here!](https://discord.gg/seattle)

---

*Full Seattle Lounge archive [here](https://www.reddit.com/r/SeattleWA/search?q=flair%3ASeattle%2BLounge&restrict_sr=on&sort=new&t=all). If you have suggestions for this daily post, please [send a modmail](https://www.reddit.com/message/compose?to=%2Fr%2FSeattleWA).*
